.favorites__link {
    display: block;
    font-size: 26px;
    margin-bottom: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .favorites__link:hover {
    color: blue
  }

.favorites__empty {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 26px;
    color: red;
}

.favorites__list {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, minmax(275px, 1fr));
    align-items: stretch;
}

@media (max-width: 600px) {
    .favorites__list {
        grid-template-columns: repeat(1, 1fr)
    }
}